<div class="menu-container">
  <h1>{{title}}</h1>
  <div *ngIf="!isSpotifyAuthenticated()" class="menu-inline-block">
    <div class="form-check form-check-inline">
      <input type="radio" name="api-radio-group" 
          [checked]="selected_radio_api_service === 'SPM'" value="SPM" (change)="toggle_radio_api_server('SPM')">
      <label class="form-check-label" for="api-radio-group">Spotify</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="radio" name="api-radio-group" 
          [checked]="selected_radio_api_service === 'ITM'" value="ITM" (change)="toggle_radio_api_server('ITM')">
      <label class="form-check-label" for="api-radio-group">iTunes</label>
    </div>
    <button *ngIf="selected_radio_api_service === 'SPM'" (click)="login()">Log In</button>
    <form *ngIf="isItunesSelected()" class="itunes-search" (submit)="onItunesSearch($event, itunesSearchInput.value)">
      <input #itunesSearchInput type="search" placeholder="Search iTunes..." aria-label="Search iTunes">
      <button type="submit">Search</button>
    </form>
  </div>
  <div *ngIf="isSpotifyAuthenticated() || hasItunesResults()" class="menu-inline-block">
    <span></span>
    <button (click)="logout()">Log Out</button>
    <button class="toggleBtn" (click)="toggle()">Toggle</button>
    <button class="toggleBtn" (click)="fullscreen()">FullScreen</button>
  </div>
</div>


<div *ngIf="isSpotifyAuthenticated() || hasItunesResults()" id="fullscreen">
    <p *ngIf="libraryLoading" class="library-loading">Loading your library…</p>
    <div class="container">
        <ul (mouseover)="scroll_tracks($event)" class="gallery centerised" id="gallery">
            <li *ngFor="let track of tracks" (click)="track_select(track)">
              <img src="{{track.album_artwork}}" alt="{{track.album}}">
              <p>ID: {{track.id}}</p>
              <p>Title: {{track.title}}</p>
              <p>Album: {{track.album}}</p>
              <span>{{track.artist}}</span>
              <audio controls muted src="{{track.stream_url}}"></audio>
            </li>
        </ul>
    </div>
    
    <!-- JukeBox -->
    <div class="player" [ngClass]="isPlaying ? 'playing':''" [ngStyle]="{ 'animation-play-state': pause_play_state() }">
      <div class="disc" id="disc" [ngStyle]="{'background-image': 'url(' + display_album_artwork() + ')', 'animation-play-state': pause_play_state()}" ></div>
      <label>Currently Playing</label>
      <h2 class="player-title" id="player-title"><i class="fa fa-music"></i> {{display_track_title()}} <i class="fa fa-music"></i><span></span></h2>
      <div class="controls">
        <a href="#" class="play" (click)="pause_play_track($event)"><i class="fa" [ngClass]="isPlaying ? 'fa-pause' : 'fa-play'"></i></a>
      </div>
      <audio id="player_audio" controls *ngIf="selected_track && !useSpotifyPlayback" src="{{selected_track.stream_url}}" (ended)="reset_play_state()"></audio> 
    </div>
</div>
