<!-- TODOS -->
<div class="menu-container">
  <h2>{{title}}</h2>
  <div *ngIf="!hasValidToken()" class="menu-inline-block">
    <!-- TODO - UI components for other music api services -->
    <button (click)="login()">Log In</button>
  </div>
  <div *ngIf="hasValidToken()" class="menu-inline-block">
    <button (click)="logout()">Log Out</button>
    <button class="toggleBtn" (click)="toggle()">Toggle</button>
    <button class="toggleBtn" (click)="fullscreen()">FullScreen</button>
  </div>
</div>


<div *ngIf="hasValidToken()" id="fullscreen">
    <div class="container">
        <ul (mouseover)="scroll_tracks($event)" class="gallery centerised" id="gallery">
            <li *ngFor="let track of tracks" (click)="track_select(track)">
              <img src="{{track.album.images[1].url}}" alt="{{track.album.name}}">
              <p>ID: {{track.track_number}}</p>
              <p>Title: {{track.name}}</p>
              <p>Album: {{track.album.name}}</p>
              <span>{{track.artists[0].name}}</span>
              <audio controls muted src="{{track.preview_url}}"></audio>    
            </li>
        </ul>
    </div>
    
    <!-- JukeBox -->
    <div class="player" [ngClass]="isPlaying ? 'playing':''" [ngStyle]="{ 'animation-play-state': pause_play_state() }">
      <div class="disc" id="disc" [ngStyle]="{ 'background-image': 'url(' + display_album_artwork() + ')', 'animation-play-state': pause_play_state()}" ></div>
      <label>Currently Playing</label>
      <h2 class="player-title" id="player-title">{{display_album_title()}}<i class="fa fa-music"></i><span></span></h2>
      <div class="controls">
        <a href="#" class="play" (click)="pause_play_track($event)"><i class="fa" [ngClass]="isPlaying ? 'fa-pause' : 'fa-play'"></i></a>
      </div>
      <!-- TODO: to implement full music track playback https://beta.developer.spotify.com/documentation/web-playback-sdk/quick-start/  -->
      <audio id="player_audio" *ngIf="selected_track" src="{{display_album_url()}}" (ended)="reset_play_state()" style="display: none;"></audio> 
    </div>
</div>