/* You can add global styles to this file, and also import other style files */

body {
  background: #13004e;
  font-family: 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 0.6);
}

/* Bootstrap button */
button {
  outline: none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  -webkit-appearance: button;
  text-transform: none;
  cursor: pointer;
}

/* CSS3 Background Aurora Effect */
.aurora-borealis {
  background: linear-gradient(#05051f, #05051f, #97f7f3, #05051f, #05051f, #05051f, #76f6bd, #aaebc9, #05051f, #05051f, #69c1ff, #cb304f, #05051f, #05051f, #05051f, #05051f, #4a5b8f, #419f91, #05051f, #05051f, #3a4aa1, #db3b69, #05051f);
  background-size: 1800% 1800%;
  -webkit-animation: aurora-effect 180s ease;
  -moz-animation: aurora-effect 180s ease;
  animation: aurora-effect 180s ease;
  animation-iteration-count: 1;
}

@-webkit-keyframes aurora-effect {
  0%{background-position:18% 0%}
  50%{background-position:83% 100%}
  100%{background-position:18% 0%}
}
@-moz-keyframes aurora-effect {
  0%{background-position:18% 0%}
  50%{background-position:83% 100%}
  100%{background-position:18% 0%}
}
@keyframes aurora-effect { 
  0%{background-position:18% 0%}
  50%{background-position:83% 100%}
  100%{background-position:18% 0%}
}